@page "/"

<PageTitle>WebHMI</PageTitle>

<h1>Overview</h1>

<ul>
    <li><strong>Delivery Status (Storage to Cavity)</strong></li>
    <ul>
        <li>Fix the orientation: left right are swapped</li>
        <li>Cavities that are running tires that are not in the WH (include the GTcodes)</li>
        <li>Active list of Tires on hold for longer than 3min & the GTcode</li>
        <li>Cavities currently running in AutoDelivery</li>
        <li>Move the green lamp</li>
        <li>Blink the red alarm areas</li>
        <li>Bold yellow on the HOLD indicator</li>
        <li>yellow timer for Hold</li>
        <li>Add the GTcode</li>
    </ul>

    <li><strong>GT Entry (TBM to Storage)</strong></li>
    <ul>
        <li>Count tires from each TBM</li>
        <li>Merge backedup indicator</li>
        <li>Buffer Backed up indicator</li>
        <li>Paint entry counts</li>
        <li>SAR1 rate, throughput, cycle time, status, failed paint counts</li>
        <li>SAR2 rate, throughput, cycle time, status, failed paint counts</li>
        <li>PicknPlace Entry Counts</li>
        <li>Bypassed Counts</li>
        <li>Missed Tires</li>
        <li>No GT data</li>
        <li>Robot rate, throughput, cycle time, status, waiting on GT count, waiting on GT empty tote</li>
        <li>Nerak elevators rate, throughput, cycle time, status</li>
        <li>Storage counts by WH</li>
        <li>WH rate, throughput, cycle time, status</li>
    </ul>
</ul>
